<div class="centered" theme>
  <h1 class="reverse-themed-text head-text">Willkommen zu Prozess-GPT deine Unterstützung zum
    Prozessmanagement</h1>

  <div class="flex-vertical">
    <div class="nxt-lvl-button">
      <div routerLink="/schedule" class="themed button-text card-nav">Zeitplan <mat-icon>schedule</mat-icon></div>
    </div>
    <div class="nxt-lvl-button">
      <div routerLink="/translate" class="themed button-text card-nav">Übersetzung <mat-icon>translate</mat-icon></div>
    </div>
  </div>
  <div class="flex-vertical">
    <div class="nxt-lvl-button">
      <div routerLink="/tools" class="themed button-text card-nav">Tools <mat-icon>build</mat-icon></div>
    </div>
    <div class="nxt-lvl-button">
      <div routerLink="/docs" class="themed button-text card-nav">Docs <mat-icon>description</mat-icon></div>
    </div>
  </div>
</div>

