<div class="centered" theme>
  <div class="chat-wrapper">
    <div *ngFor="let c of exampleChat.messages">
      <app-chat-bubble [isBot]="c.isBot" [text]="c.text"></app-chat-bubble>
      <a *ngIf="c.link.length > 5" class="email-button" mat-raised-button [href]="c.link">Sende
        Email</a>
    </div>


  </div>
  <div class="chat-input-field">
    <mat-form-field class="full-width">
      <mat-label>Deine Antwort/Anfrage</mat-label>
      <textarea [(ngModel)]="input" (keydown.enter)="inputConfirmedAndSend()" matInput
                placeholder="Es soll ein Webseite entwickelt werden..."></textarea>
    </mat-form-field>
    <app-recorder (onTextReceived)="onTextReceived($event)"></app-recorder>
  </div>
</div>

