.chat-bubble {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 20px;
}

.chat-bubble-left {
  justify-content: flex-start;
}

.chat-bubble-right {
  justify-content: flex-end;
}
